@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" } ))
    {

        @Html.AntiForgeryToken()

        <li class="scroll-to-section">
            <div class="main-blue-button">
                 <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Log out</a>            
            </div>
        </li>
    }

}
else
{
    <li class="scroll-to-section">
        <div class="main-blue-button">
            <a href="@Url.Action("Login","Account")"> <i class="fas fa-sign-in-alt"></i> Login</a>   
        </div>
    </li>
}
